<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMap name="MyRewriteMap" defaultValue="">
                <add key="a.php" value="b.php" />
            </rewriteMap>
            <rules>
                <rule name="SPA">
                    <match url=".*" />
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>